body{ 
	background-image: url("https://i.pinimg.com/originals/cd/e9/3d/cde93d87aaa96edda5968823c6592b0b.jpg");
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width: 40vw;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width: 35vw;
	font-family: Oswald;
	color: white;
}

/* Style the text boxes */
input, textarea {
	width: 35vw;
	height: 2.5vw;
	background-color: lightgrey;
	border:1px solid #dedede;
	padding: 1vw;
	margin-top: 0.25vw;
	font-size: 1vw;
	color:#3a3a3a;
}

textarea {
	height: 7.5vw;
	background-color: lightgrey;
	margin-bottom: 2vw;
}

input:focus, textarea:focus {
    border: 1px solid red
}

#submit {
    width: 38vw;
    height:3.5vw;
	font-size: 2vw;
    background-color: red;
	color: white;
	font-family: Oswald;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}

.topnav {
    background-color: Red;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: Snow;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 2vw;
	font-family: Oswald;
	padding: 1vw;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: blue;
    color: snow;
	transition: .3s;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: black;
    color: white;
}